<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>物资列表</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/projectlist.css">
</head>

<body>
	<!--header start-->
	#parse("views/common/header.html")
	<!--header end-->
	<input type = "hidden" id = "currentPage" name = "currentPage" value = "$!pagesModel.currentPage">
	<input type = "hidden" id = "pages" name = "pages" value = "$!pagesModel.pages">
	<input type = "hidden" id = "total" name = "total" value = "$!pagesModel.total">
	<input type = "hidden" id = "oneClassifyName" name = "oneClassifyName" value = "$!oneClassifyName">
	<div class="main material">
		<div class="list-model ">
			<div class="w1200">
				<div id="materailFilter" class="fliter-wrap">
					<span>物资分类</span>
					<ul class="classfiy">
						<a href= "../material/toMaterialList"><li #if(!$!oneClassifyName) class="cur" #end>全部</li></a>
						#foreach($obj in $materclassifyList)
						<a href= "../material/toMaterialList?oneClassifyName=$obj"><li #if($!obj=="$!oneClassifyName") class="cur" #end>$obj</li></a>
						#end
					</ul>
				</div>

				<ul class="list-cont">
				#foreach($obj in $pagesModel.results)
					<a href="../material/toMaterialDetail?materialId=$!obj.materialId">
					<li>
						<ul class="ulist">
							<li class="fir">$!obj.twoClassifyName</li>
							<li class="sec">$!obj.specDescription</li>
							<li class="thr">$!date.format('yyyy-MM-dd',$!obj.auditTime)</li>
							<li class="fou">$!obj.provinceName $!obj.cityName</li>
						</ul>
					</li>
					</a>
				#end
				</ul>
			</div>
		</div>
		<div class="page-wrap">
			<div id="kkpager"></div>
		</div>
	</div>
	<!--footer start-->
	#parse("views/common/footer.html")
	<script type="text/javascript" src="../static/js/kkpager.min.js"></script>
	<script type="text/javascript" src="../static/js/material-list.js"></script>
	<!--footer end-->
</body>

</html>