<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>首页</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
	<!--header start-->
	#parse("views/common/header.html")
	<div class="banner" id="ads">
		<div class="hd">
			<ul class="banner-tool"></ul>
		</div>
		<div class="bd">
			<ul class="banner-list">
				<li style="background:url(../static/img/index-banner.jpg) no-repeat center top #780000;"></li>
			</ul>
		</div>
	</div>
	<!--header end-->
	<div class="main">
		<div class="list-model project">
			<div class="w1200">
				<h2 class="list-name">项目列表</h2>
				<div class="more">
					<a href="../project/toProjectList">更多>></a>
				</div>
				<ul class="ulist list-title">
					<li class="fir">项目名称</li>
					<li class="sec">项目描述</li>
					<li class="thr">发布时间</li>
					<li class="fou">发布地区</li>
				</ul>
				<ul class="list-cont" id="projectList">
				</ul>
			</div>
		</div>
		<div class="list-model  goods">
			<div class="w1200">
				<h2 class="list-name">物资列表</h2>
				<div class="more">
					<a href="../material/toMaterialList">更多>></a>
				</div>
				<ul class="ulist list-title">
					<li class="fir">物资名称</li>
					<li class="sec">物资描述</li>
					<li class="thr">发布时间</li>
					<li class="fou">发布地区</li>
				</ul>
				<ul class="list-cont" id="materialList">
				</ul>
			</div>
		</div>

	</div>
	<!--footer start-->
	#parse("views/common/footer.html")
	<script type="text/javascript" src="../static/js/superslide.2.1.js"></script>
	<script type="text/javascript" src="../static/js/utils.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>
	<!--footer end-->
</body>

</html>