<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>登陆</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<!--header start-->
#parse("views/common/header.html")
<!--header end-->
<div class="login_bg">
	<div class="login w1200">
		<div class="lg_oper_box clearfix fr" id="pwdBox">
			<div class="title">会员登录</div>
			<ul class="clearfix">
				<li>
					<input type="text" class="input-text js-user-name ipt_border" name="phoneNumber" id="userName" placeholder="请输入手机号码">
					<label id="userName-error" class="error" ></label>
				</li>
				<li>
					<input type="password" class="input-text js-login-pwd ipt_border" name="userPassWord" id="loginPwd" placeholder="请输入登录密码">
					<label id="loginPwd-error" class="error"></label>
				</li>
				<li>
					<input type="submit" class="btn btn_able" value="登 录" id="loginSubmit">
					<div class="lg_link"><a href="../users/toRegister?userType=1">免费注册</a><a href="../users/toFindPwd" class="forget_pwd">忘记密码？</a></div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--footer start-->
#parse("views/common/footer.html")
<!--footer end-->
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
</body>
</html>