.helper{padding-top:40px;height: 750px;}
.helper .menu-list li {padding-left: 25px;font-size: 16px;line-height: 50px;color: #666;margin-bottom: 5px;width: 105px;cursor: pointer;}
.helper .menu-list li i{display:inline-block;width:9px;height:12px;background:url(../img/arrow-right.jpg) no-repeat 0 0;visibility: hidden;}
.helper .menu-list li.cur{color:#0472d3;}
.helper .menu-list li.cur i{visibility: visible;}
.helper .menu-list .log{margin-bottom:17px;}
.helper .question{margin-left:110px;width:960px;}
.helper .question .item {padding: 10px 0;color: #999;line-height: 28px;font-size: 16px;border-bottom: 1px solid #e5e5e5;}
.question .item .que{color:#333;}
.helper .question .wrap{display: none;}
.helper .question .wrap.cur{display: block;}