.header {height: 100px;}
.header .login-img {margin-top: 20px;width: 130px;height: 60px;background-color: #e7e7e7;}
.header .menu li {float: left;margin-left: 80px;}
.header .menu li a {position: relative;display: inline-block;height: 37px;color: #666666;font-size: 16px;box-sizing: border-box;padding: 0 5px;text-decoration: none;}
.header .fl img {width: 130px;height: 60px;}
.header .menu {overflow: hidden;margin-top: 32px;}
.header .menu li i {position: absolute;bottom: 0;left: 50%;margin-left: -20px;display: none;width: 40px;height: 2px;background: #0472d3;}
.header .menu li.active a {color: #0472d3;}
.header .menu li.active i{display: block;}
.header .menu li.active .banner {width: 100%;max-height: 400px;}
.banner{height: 400px;overflow: hidden;position: relative;width: 100%;min-width: 1200px;}
.banner .hd{width: 100%;position: absolute;z-index: 20;left: 0;top: 368px;text-align: center;}
.banner .hd ul{width: 1000px;margin: auto;}
.banner .hd ul li{width: 16px;height: 16px;background: #666;border-radius:50%;display: inline-block;zoom: 1;overflow: hidden;margin-right: 10px;cursor: pointer;line-height: 100em;}
.banner .hd ul li.on{background:#fff;}
.banner .banner-list,.banner .banner-list li{width: 100% !important;}
.banner .banner-list li{height: 400px;}
.banner .banner-list li a{display: block;width: 1200px;height: 400px;margin: auto;background: url(about:blank);}

.banner img {width: 100%;}
.list-model.project {padding: 25px 0 48px;border-bottom: 1px solid #f0f0f0;}
.list-model .list-name {padding-left: 17px;height: 25px;line-height: 25px;font-size: 18px;color: #333;border-left: 3px solid #0472d3;}
.list-model .more {text-align: right;padding-right: 20px;}
.list-model .more a {font-size: 12px;color: #0472d3;}
.list-model .ulist {overflow: hidden;font-size: 14px;}
.list-model .ulist.list-title {background: #f2f2f2;color: #999;margin-top: 10px;}
.list-model .ulist.list-title li {height: 50px;line-height: 50px;}
.ulist li {padding-left: 20px;float: left;}
.ulist li.fir {width: 380px}
.ulist li.sec {width: 480px}
.ulist li.thr {width: 180px;color: #999;}
.ulist li.fou {width: 80px;color: #999;}
.list-model .list-cont {color: #666;}
.list-model .list-cont .ulist {margin-top: 40px;}
.list-model.goods {padding: 40px 0 65px;}

.input-text{border: 1px solid #999;border-radius: 2px;padding-left: 35px;line-height: 38px;display: block;}
.lg_oper_box{width: 380px;box-sizing: border-box;background-color:rgba(255,255,255,0.8);border-radius: 4px;}

.login_bg,.register_bg{width: 100%;min-width:1200px;height: 790px;overflow: hidden;background: url(../img/login/banner.jpg)no-repeat center center #3c2a50;}
.login,.register{height: 100%;overflow: hidden;}
.login .lg_oper_box{padding: 45px 38px 50px 42px;margin-top: 170px;}

.lg_oper_box .title{font-size:18px;color: #333;line-height: 25px;text-align: center;margin-bottom: 38px;}
.lg_oper_box .title i{display: inline-block;width: 1px;height:18px;margin: 3px 10px 0;background-color: #999;vertical-align: top;}
.lg_oper_box .title a.active{color: #0472d3;border-bottom: 2px solid #0472d3;}
.lg_oper_box .title a:hover{text-decoration:none;}
.lg_oper_box .title h6{font-size: 14px;color: #666;line-height: 20px;margin-top: 10px;text-align: right;}
.lg_oper_box .title h6 a{color: #0472d3;}
.lg_oper_box li{position: relative;overflow: hidden;}
.lg_oper_box .error{color:red;font-size:12px;background:url(../img/login/error.png) no-repeat 0 2px;display:inline-block;*display:inline;zoom:1;vertical-align:top;text-indent:18px;left:22px;top:41px;position:absolute}
.lg_oper_box .input-text{width: 300px;padding: 0;padding-left: 39px; font: normal 14px/38px "Hiragino Sans GB",'微软雅黑'; height: 40px; border-color: #999; overflow: hidden; zoom: 1;box-sizing: border-box;margin-bottom: 30px;}
.lg_oper_box .btn{width: 300px;height: 46px; background-color: #999;font-size: 14px;color: #fff;border:none;border-radius: 5px;}
.lg_oper_box .btn.btn_able{background-color: #0472d3;}
.lg_oper_box .lg_link{font-size: 14px;line-height: 20px;margin-top: 16px;text-align: right;}
.lg_oper_box .lg_link a{color: #0472d3;margin-left: 16px;}
.lg_oper_box .lg_link a.forget_pwd{color: #333}

.login .input-text{border: 1px solid #999;margin-bottom: 30px;}

.register .lg_oper_box{padding: 45px 38px 50px 42px;margin-top: 80px;}
.register .input-text{border: 1px solid #e5e5e5;margin-bottom: 20px;}
.register .input-text1{width: 200px;}
.register a.btn{width: 90px;height: 40px;line-height: 40px; text-align: center;margin-left: 10px;border-radius: 2px;}
.register a.btn:hover{text-decoration:none;}
.register .lg_oper_box p{font-size: 14px;color: #666;line-height: 20px;margin-bottom: 35px;}
.register .lg_oper_box p i{display: inline-block;width: 14px;height: 14px;vertical-align: top;margin-top: 3px;background:url(../img/login/check_on.png)no-repeat;background-size: 100% 100%;margin-right: 7px;}
.register .lg_oper_box p i.check_off{background:url(../img/login/check_off.png)no-repeat;background-size: 100% 100%;}
.register .lg_oper_box p a{color: #0472d3;}