 .list-model .list-cont .ulist {margin-top: 0;height: 79px;line-height: 79px;border-bottom: 1px solid #eee;}
.project .page-wrap {padding: 50px 0 100px;text-align: center;}
.project .fliter-wrap {padding: 14px 0 14px 20px;background: #f2f2f2;color: #999;font-size: 14px;}
.project .fliter-wrap .line {line-height: 36px;}
 /* 项目详情 */
.fliter-wrap span {margin-right: 30px;}
.fliter-wrap .pname {display: inline-block;font-weight: bold;color: #666;}
.fliter-wrap .classfiy {display: inline-block;overflow: hidden;}
.fliter-wrap .classfiy li {float: left;margin-right: 50px;line-height: 14px;cursor: pointer;}
.fliter-wrap .classfiy li.cur {color: #0472d3;}
 /* x项目详情1 */
.project-bidding .bidding-info {padding: 20px 0 30px;font-size: 14px;border-bottom: 1px solid #f0f0f0;}
.project-bidding .mb {margin-bottom: 30px;}
.project-bidding .ulist li {padding-left: 0;}
.project-bidding .ulist .fir {width: 445px}
.project-bidding .ulist .sec {width: 310px}
.project-bidding .ulist .thr {width: 290px}
.bidding-info .material {font-size: 16px;font-weight: bold;color: #333333;}
.bidding-info .countdown {display: inline-block;}
.bidding-info .countdown span {color: #f55050;font-size: 16px;margin-left: 0;}
.project-bidding li span {margin-left: 8px;}
.bidding-info .tips i {display: inline-block;width: 16px;height: 16px;margin-right: 8px;background: url(../img/tips-icon.png) no-repeat 0 0;vertical-align: middle;}
.bidding-info .tips span {color: #999999;}
.bidding-cont {padding: 30px 0;font-size: 14px;color: #999;border-bottom: 1px solid #f0f0f0;}
.bidding-cont .goods .time {color: #999;}
.bidding-cont .goods span {color: #333;}
.bidding-cont .total-price {color: #999;margin-bottom: 30px;}
.bidding-cont .total-price label {margin-right: 8px;}
.bidding-cont .total-price .pt {display: inline-block;position: relative;}
.total-price .pt .hint{display: none;color:red;margin-left:15px;}
.bidding-cont .total-price .symbol {position: absolute;left: 20px;font-size: 16px;top: 18px;color: #000;}
.bidding-cont .total-price input {width: 183px;height: 58px;line-height: 58px;padding-left: 38px;padding-right: 20px;color: #ccc;border: 1px solid #ccc;font-size: 22px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; outline: none;box-sizing: border-box;}
.bidding-cont .pay-way {padding-bottom: 30px;border-bottom: 1px solid #f0f0f0;}
.bidding-cont .pay-way label {float: left;margin-right: 15px;line-height: 50px;}
.bidding-cont .pay-way .checkbox {float: left;}
.bidding-cont .pay-way .checkbox .item {float: left;margin-right: 40px;padding: 7px 0;width: 150px;line-height: 50px;color: #333;text-align: center;border: 1px solid #ccc;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;cursor: pointer}
.bidding-cont .pay-way .item p {line-height: 17px;}
.bidding-cont .pay-way .checkbox .item.cur {border-color: #0472d3;background: url(../img/chose-bg.png) no-repeat right bottom;}
.bidding-cont .pay-way .qes {float: left;margin-left: -20px;line-height: 50px;}
.bidding-cont .pay-way .qes a {color: #0472d3;}
.bidding-cont .bidding-btn {margin: 30px 0 70px 75px;}
.bidding-cont .bidding-btn input {width: 200px;height: 60px;text-align: center;font-size: 18px;color: #fff;border: none;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background: #0472d3;outline: none;cursor: pointer;}
.project-bidding .bidding-intro {border: 1px solid #e6e6e6;margin-bottom: 56px;}
.bidding-intro .title {padding-left: 20px;height: 50px;line-height: 50px;font-size: 18px;color: #333;background: #f0f0f0;}
.bidding-intro .cot {padding: 23px 40px 36px 20px;color: #333;}
.bidding-intro .cot p {line-height: 26px;margin-bottom: 26px;}
 /* 确定竞标 */
.confirm-bidding {padding-top: 0;}
.confirm-bidding .top-title {height: 60px;line-height: 60px;font-size: 16px;padding-left: 20px;color: #333;background: #f2f2f2;}
.confirm-bidding .goods {border: 1px solid #e6e6e6;margin-bottom: 180px;}
.confirm-bidding .sure-wrap {padding: 0 80px 0 26px;}
.confirm-bidding .ulist .fir {width: 395px;color: #333;}
.confirm-bidding .ulist .sec {width: 310px;color: #333;}
.confirm-bidding .ulist .thr {width: 305px;color: #333;}
.confirm-bidding .title .ulist {margin-top: 13px;margin-bottom: 20px;line-height: 50px;border-bottom: 1px solid #f0f0f0;}
.confirm-bidding .mb45 {margin-bottom: 45px;}
.confirm-bidding .pay-way {border: none;padding-bottom: 40px;}
.confirm-bidding .total-price {margin-bottom: 70px;}
.confirm-bidding .top-title .agreee {font-size: 12px;}
.top-title .agreee i {display: inline-block;width: 14px;height: 14px;background: url(../img/check1.png) no-repeat 0 0;vertical-align: middle;}
.top-title .agreee i.checked {background-image: url(../img/checked.png)}
.top-title .agreee a {color: #0472d3;}
.top-title .agreee .hint{display: none;color:red;font-size:12px;}
.confirm-bidding .bidding-btn {margin: 0;}
.confirm-bidding .total-price .pt.active input {background: #f3f3f3;font-size: 24px;}
.confirm-bidding .bidding-btn input {border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;}
 /* 竞标成功 */
.success-bid .top-title .fr {color: #999;}
.success-bid .bid-total {display: inline-block;font-size: 14px;}
.success-bid .bid-total .price {font-size: 20px;color: #0472d3;}
.success-bid .payment {display: inline-block;font-size: 14px;margin: 0 20px 0 60px;}
.success-bid .payment .intro {color: #333;}
.success-bid .content {text-align: center;padding-top: 120px;padding-bottom: 66px;}
 .success-bid .content .alert {margin-top: 40px;margin-bottom: 120px;font-size: 22px;color: #f55050;}
 .success-bid .content .notes {font-size: 12px;line-height: 27px;text-align: left;padding-left: 18px;color: #999;}
.success-bid .content .notes .warm {line-height: 22px;}
 /* 物资列表 */
.material .fliter-wrap {line-height: 50px;padding-left: 20px;background: #f2f2f2; font-size: 14px;color: #999;}
.material .page-wrap {padding: 50px 0 100px;text-align: center;}