<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>参与的竞标</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/supplierInfo.css">
</head>

<body>
    <!--header start-->
    #parse("views/common/header.html")
    <!--header end-->

    <!-- container start -->
    <div class="enterprise_wrap supplier-join clearfix">
        <div class="w1200">
            <div class="sidebar">
                <div class="sidebar_tit">
                    <h2>搜材狗</h2>
                </div>
                <ul class="sidebar_menu">
                    <li>
                        <a href="../users/toInfomation">企业信息</a>
                    </li>
                    <li class="curr">
                        <a href="../bidding/toJoinBidding">我的竞标</a>
                    </li>
                </ul>
            </div>
            <div class="content epr_content">
                <div class="title-tabs title">
                    <a class="cur" href="">参与的竞标</a>
                    <a href="../bidding/toWonBid">已竞标</a>
                </div>
                <div class="epr_info_menu  sup-content">
                    <ul class="sup-join-list capmenu clearfix">
                        <li class="fir">物资描述</li>
                        <li class="sec">数量</li>
                        <li class="thr">首付款</li>
                        <li class="fou">竞标总价</li>
                        <li class="fiv">状态</li>
                    </ul>
                    #foreach($obj in $pagesModel.results)
                    <div class="container">
                        <div class="title">
                            <div class="name fl">$obj.twoClassifyName</div>
                            <div class="countdown fr"> 距离本次投标结束：
                                #if($obj.status == 1)
                                <span>7</span>天
                                <span>23</span>时
                                <span>34</span>分
                                <span>12</span>秒
                                #else
                                <span>已结束</span>
                                #end
                            </div>
                        </div>
                        <div class="cont sup-join-list clearfix">
                            <div class="fl">
                                <div class="sup-detail">
                                    <div>
                                        <p class="fir"> DN300，含不锈钢卡箍及螺栓含不锈钢卡箍及螺栓</p>
                                        <p class="sec">1000米</p>
                                    </div>
                                    <div>
                                        <p class="fir"> DN300，含不锈钢卡箍及螺栓含不锈钢卡箍及螺栓</p>
                                        <p class="sec">1000米</p>
                                    </div>
                                    <div>
                                        <p class="fir"> DN300，含不锈钢卡箍及螺栓含不锈钢卡箍及螺栓</p>
                                        <p class="sec">1000米</p>
                                    </div>
                                </div>
                            </div>
                            <div class="fl middle-box">
                                <div class="thr">
                                    <div class="fix-box rate-mod" data-stat="1">
                                        <div class="info">
                                            <p>20%首付款</p>
                                            （4933.23手续费）
                                        </div>
                                        <i class="modify">修改</i>
                                    </div>
                                </div>
                                <div class="fou">
                                    <div class="fix-box " data-stat="2">
                                        <div class="info price-mod">￥10000</div>
                                        <i class="modify">修改</i>
                                    </div>
                                </div>
                                <p class="fiv has-bid">已中标</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="title">
                            <div class="name fl">双扣聚氯乙烯增强管</div>
                            <div class="countdown fr"> 距离本次投标结束：
                                <span>已结束</span>
                            </div>
                        </div>
                        <div class="cont sup-join-list clearfix">
                            <div class="fl">
                                <div class="sup-detail">
                                    <div>
                                        <p class="fir"> DN300，含不锈钢卡箍及螺栓含不锈钢卡箍及螺栓</p>
                                        <p class="sec">1000米</p>
                                    </div>
                                    <div>
                                        <p class="fir"> DN300，含不锈钢卡箍及螺栓含不锈钢卡箍及螺栓</p>
                                        <p class="sec">1000米</p>
                                    </div>
                                    <div>
                                        <p class="fir"> DN300，含不锈钢卡箍及螺栓含不锈钢卡箍及螺栓</p>
                                        <p class="sec">1000米</p>
                                    </div>
                                </div>
                            </div>
                            <div class="fl middle-box">
                                <div class="thr ">
                                    <div class="blank">
                                    <div class="info ">
                                        <p>20%首付款</p>
                                        <p>（4933.23手续费）</p>
                                    </div>
                                </div>
                                </div>

                                <div class="fou">
                                    <div class="blank">
                                    <div class="info price-mod">￥10000</div>
                                </div>
                                </div>
                                <p class="fiv has-bid">已中标</p>
                            </div>
                        </div>
                    </div>
                </div>
                                    <!-- </td>
                                    <td rowspan="5">
                                        <div class="thr">
                                            <div class="fix-box rate-mod" data-stat="1">
                                                <div class="info">
                                                    <p>20%首付款</p>
                                                                                                                                                         （4933.23手续费）</div>
                                                <i class="modify">修改</i>
                                            </div>
                                        </div>
                                    </td>
                                    <td rowspan="5">
                                        <div class="fou">
                                            <div class="fix-box " data-stat="2">
                                                <div class="info price-mod">￥10000</div>
                                                <i class="modify">修改</i>
                                            </div>
                                        </div>
                                    </td>
                                    <td rowspan="5">
                                        <p class="fiv">未中标</p>
                                    </td>
                                </tr>
                                #foreach($materialDetails in $obj.materialDetailList)
                                <tr>
                                    <td>
                                        <p class="fir"> $materialDetails.specDescription</p>
                                    </td>
                                    <td>
                                        <p class="sec">$materialDetails.purchaseQuantity $materialDetails.unit</p>
                                    </td>
                                </tr>
                                #end
                            </table>
                        </div>
                    </div>
                    #end
            </div> -->
        </div>
    </div>
    </div>
    <div class="modify-box" data-stat="1">
        <i class="top-arrow1"></i>
        <i class="top-arrow2"></i>
        <div class="checkbox clearfix">
            <div class="item cur">
                <p>零首付款</p>
                <p>（无手续费）</p>
            </div>
            <div class="item">
                <p>10%首付款</p>
                <p>（1923.23手续费）</p>
            </div>
            <div class="item">
                <p>20%首付款</p>
                <p>（4933.23手续费）</p>
            </div>
        </div>
        <div class="text">
            ￥
            <input class="text-pt" type="text" class="text-insert">
        </div>
        <div class="check-btns">
            <input class="ensure" type="button" value="确认">
            <input class="cancel" type="button" value="取消">
        </div>
    </div>
    <!-- container end -->

    <!--footer start-->
    #parse("views/common/footer.html")
    <!--footer end-->
    <script type="text/javascript" src="../static/js/mbDialog.js"></script>
    <script type="text/javascript" src="../static/js/joinBidding.js"></script>
</body>

</html>