<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>已竞标</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/supplierInfo.css">
</head>

<body>
    <!--header start-->
    #parse("views/common/header.html")
    <!--header end-->

    <!-- container start -->
    <div class="enterprise_wrap supplier-join clearfix">
        <div class="w1200">
            <div class="sidebar">
                <div class="sidebar_tit">
                    <h2>搜材狗</h2>
                </div>
                <ul class="sidebar_menu">
                    <li>
                        <a href="../users/toInfomation">企业信息</a>
                    </li>
                    <li class="curr">
                        <a href="../bidding/toJoinBidding">我的竞标</a>
                    </li>
                </ul>
            </div>
            <div class="content epr_content">
                <div class="title-tabs title">
                    <a href="../bidding/toJoinBiddign">参与的竞标</a>
                    <a class="cur" href="">已竞标</a>
                </div>
                <div class="epr_info_menu  sup-content">
                    <ul class="sup-join-list capmenu clearfix">
                        <li class="fir">物资描述</li>
                        <li class="sec">数量</li>
                        <li class="thr">首付款</li>
                        <li class="fou">竞标总价</li>
                        <li class="fiv">状态</li>
                    </ul>
                    <div class="container">
                        <div class="title">
                            <div class="name fl">双扣聚氯乙烯增强管</div>
                            <div class="countdown fr">
                                <a class="show-contract" href="">查看合同</a>
                            </div>
                        </div>
                        <div class="cont sup-join-list clearfix">
                            <div class="fl">
                                <div class="sup-detail">
                                   <div> <p class="fir"> DN300，含不锈钢卡箍及螺栓含不锈钢卡箍及螺栓</p>
                                    <p class="sec">1000米</p></div>
                                    <div> <p class="fir"> DN300，含不锈钢卡箍及螺栓含不锈钢卡箍及螺栓</p>
                                        <p class="sec">1000米</p></div>
                                        <div> <p class="fir"> DN300，含不锈钢卡箍及螺栓含不锈钢卡箍及螺栓</p>
                                            <p class="sec">1000米</p></div>
                                </div>
                            </div>
                            <div class="fl middle-box">
                                    <div class="thr ">
                                            <div class="blank">
                                            <div class="info ">
                                                <p>20%首付款</p>
                                                <p>（4933.23手续费）</p>
                                            </div>
                                        </div>
                                        </div>
        
                                        <div class="fou">
                                            <div class="blank">
                                            <div class="info price-mod">￥10000</div>
                                        </div>
                                        </div>
                                        <p class="fiv has-bid">已中标</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- container end -->

    <!--footer start-->
    #parse("views/common/footer.html")
    <!--footer end-->
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/mbDialog.js"></script>
    <script type="text/javascript" src="../static/js/infomation.js"></script>
    <script type="text/javascript">
        var account = "1806****770"; //用户名
    </script>
</body>

</html>