<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>进行中</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/enterprise.css">
</head>

<body>
    <!--header start-->
    #parse("views/common/header.html")
    <!--header end-->

    <!-- container start -->
    <div class="enterprise-register ">
        <div class="w1000 ent-wrap">
            <h2 class="reg-title">企业实名认证</h2>
            <div class="reg-progress">
                <span class="on">1.企业信息</span>
                <span>2.证件信息</span>
                <span>3.申请完成</span>
            </div>
            <div class="ent-from clearfix">
                <form action="" id="reg-form">
                    <ul>
                        <li class="item">
                            <label class="ent-name">公司名称：</label>
                            <input class="ent-txt" type="text" placeholder="请输入企业名称" name="companyname">
                            <span class="hint"></span>
                        </li>
                        <li class="item">
                            <label class="ent-name">营业执照编码：</label>
                            <input class="ent-txt" type="text" placeholder="若为三证合一的证件，请输入社会信用代码" name="businesslicense">
                            <span class="hint"></span>
                        </li>
                        <li class="item">
                            <label class="ent-name">营业执照有效期：</label>
                            <input id="periodvalidity" class="ent-txt" type="text" placeholder="长期有效可不填" name="periodvalidity">
                            <span class="hint"></span>
                        </li>
                        <li class="item">
                            <label class="ent-name">证件类型：</label>
                            <select class="ent-txt" name="IDtype" id="IDtype">
                                <option class="default" value="0">请选择证件类型</option>
                                <option value="0">aaa</option>
                                <option value="0">aaa</option>
                            </select>
                            <span class="hint"></span>
                        </li>
                        <li class="item">
                            <label class="ent-name">证件号码：</label>
                            <input class="ent-txt" type="text" placeholder="请输入证件号码" name="creditname">
                            <span class="hint"></span>
                        </li>
                        <li class="item">
                            <label class="ent-name">注册地址：</label>
                            <select  name="provice" class="ent-txt sml-select province">
                                <option value="">-省份-</option>
                            </select>
                            <select name="city" class="ent-txt sml-select city">
                                <option value="">-城市-</option>
                            </select>
                            <span class="hint"></span>
                        </li>
                        <li class="item">
                            <label class="ent-name">企业常用地址：</label>
                            <input class="ent-txt" type="text" placeholder="请输入企业法人姓名" name="companyaddre">
                            <span class="hint"></span>
                        </li>
                        <li class="item">
                            <label class="ent-name">企业法人姓名：</label>
                            <input class="ent-txt" type="text" placeholder="请输入企业名称" name="companylegal">
                            <span class="hint"></span>
                        </li>
                        <li class="item">
                            <label class="ent-name">法人手机号：</label>
                            <input class="ent-txt" type="text" placeholder="请输入法人手机号" name="legalphone">
                            <span class="hint"></span>
                        </li>
                        <li>
                            <label class="ent-name"></label>
                            <input id="next-btn" type="button" class="ent-txt next-btn" value="下一步">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- container end -->

    <!--footer start-->
    #parse("views/common/footer.html")
    <!--footer end-->
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script> 
    <script type="text/javascript" src="../../static/js/area/eloanArea.js"></script> 
    <script type="text/javascript" src="../../static/js/area/bankAreaSelect.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.validate.extend.js"></script>
    <script type="text/javascript" src="../../static/js/calendar/laydate.js"></script> 
    <script type="text/javascript" src="../../static/js/enterprise.js"></script>
</body>

</html>