<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>进行中</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/supplierInfo.css">
</head>

<body>
    <!--header start-->
   #parse("views/common/header.html")
    <!--header end-->

    <!-- container start -->
    <div class="supplier-join onging-wrap clearfix">
        <div class="w1200  bg_grey clearfix">
            <div class="sidebar">
                <div class="sidebar_tit">
                    <h2>搜材狗</h2>
                </div>
                <ul class="sidebar_menu">
                    <li>
                        <a href="../users/toInfomation">企业信息</a>
                    </li>
                    <li>
                        <a href="../project/toPublishProject1">发布项目</a>
                    </li>
                    <li class="curr">
                        <a href="">我的项目</a>
                    </li>
                </ul>
            </div>
            <div class=" epr_content">
                <div class="title-tabs title">
                    <a class="cur" href="">进行中</a>
                    <a  href="../users/toCompeted">已完成</a>
                </div>
                <div class="epr_info_menu  sup-content">
                  #foreach($obj in $project)
                    <div class="container">
                        <div class="title">
                            <div class="name fl">$obj.projectName</div>
                            <div class="countdown fr">
                                #if($obj.auditStatus == 3)
                                 <a class="show-fail" href="">审核失败>></a>
                                #else
                                <a class="show-contract" href="">查看合同</a>
                                #end
                            </div>
                        </div>
                        <div class="onging-list">
                            #foreach($objMaterial in $obj.materialResList)
                            <ul class="clearfix">
                                <li class="fir">$objMaterial.oneClassifyName </li>
                                <li>$objMaterial.twoClassifyName
                                    <i class="prompt">
                                        <!-- 隐藏二级菜单 -->
                                        <div class="prompt-box">
                                            <i class="left-arrow1"></i>
                                            <i class="left-arrow2"></i>
                                            <ul>
                                                #foreach($objMaterialDetails in $objMaterial.materialDetailsList)
                                                <li>$objMaterialDetails.specDescription <span class="fr">$objMaterialDetails.purchaseQuantity &nbsp;$objMaterialDetails.unit </span> </li>
                                                #end
                                            </ul>

                                        </div>
                                    </i>
                                </li>
                                <li class="sign">#if($objMaterial.status == 1)竞标中#elseif($objMaterial.status==2) 生产中  #else 已完成 #end </li>
                            </ul>
                            #end
                        </div>
                    </div>
                    #end
                </div>
            </div>
        </div>
    </div>
    <!-- container end -->

    <!--footer start-->
    #parse("views/common/footer.html")
    <!--footer end-->
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/mbDialog.js"></script>
    <script>
        $(function () {
            $(".onging-wrap").on('mouseenter','.prompt',function() {
                $(this).find('.prompt-box').hide().show()
            })
            $(".onging-wrap").on('mouseleave','.prompt',function(){
                $(this).find('.prompt-box').hide();
            })
        })
        $(".header").hide();
    </script>
</body>
</html>