<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>企业信息</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/enterprise.css">
</head>
<body>
<!--header start-->
#parse("views/common/header.html")
<!--header end-->

<!-- container start -->
<div class="enterprise_wrap enterprise_infomation">
    <div class="w1200 bg_grey clearfix">
        <div class="sidebar">
            <div class="sidebar_tit">
                <h2>搜材狗</h2>
            </div>
            <ul class="sidebar_menu">
                 <li><a href="../users/toInfomation">企业信息</a></li>
                <li class="curr"><a href="">发布项目</a></li>
                <li><a href="../users/toOnging">我的项目</a></li>
            </ul>
        </div>
        <div class="content pub_pro_content">
            <div class="flow flow_2">
                <div class="flow_ico"></div>
                <div class="flow_txt">
                    <span class="txt_1">项目介绍</span>
                    <span class="txt_2">物资描述</span>
                    <span class="txt_3">发布申请完成</span>
                </div>
            </div>
            <div class="pro_desc_wrap">
                <div id="publish_project_2">
                    <div class="pro_desc_cont">
                        <!-- 类模块 -->
                    </div>
                    <input type="hidden" name="descClassifyValue" value='[{"categoryFir":"其它","categoryFirOther":"3","categorySec":"其它","categorySecOther":"33","order":[{"desc":"44","deliveryTime":"44","units":"44","amount":"44","price":"44"}]}]'>

                    <div class="desc_bt">
                        <div class="agreement_box">
                            <span class="agmt_checket agmt_checket_on"></span>
                            我同意<font>《</font><a target="_blank" href="">搜材狗发布协议</a><font>》</font>
                            <input type="hidden" class="agreement" name="agreement" value="1">
                        </div>
                        <div class="desc_navs">
                            <input type="button" class="ipt_btn classify_add" value="继续添加">
                            <input type="button" class="ipt_btn classify_save" value="保 存">
                            <input type="button" class="ipt_btn classify_issue" value="发布项目">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container end -->

<!--footer start-->
#parse("views/common/footer.html")

<!--footer end-->
<script type="text/javascript" src="../static/js/mbDialog.js"></script>
<script type="text/javascript" src="../static/js/publish-project.js"></script>
</body>
</html>